@{
    ViewData["Title"] = "Products";
    ViewData["Description"] = Helper.GlobalHelper.PageDescription;
    ViewData["URLImage"] = Helper.GlobalHelper.ImageURL;
    ViewData["URLCurrent"] = Helper.GlobalHelper.DomainURL + "product.html";    
}

<div class="note-text bg-color-4 padding4_5_0">
    <div class="content">
        <h2 class="marginbt2">Discuss your workplace</h2>
        <a class="btn-primary white" href="@Helper.GlobalHelper.DomainURLSub/contact.html" title="Contact"><span>Contact</span></a>
    </div>
</div>