@{
    ViewData["Title"] = "Thank you for your trust";
    ViewData["Description"] = "We have received your feedback and will contact you as soon as possible";
    ViewData["URLCurrent"] = Helper.GlobalHelper.DomainURL + "thank.html";
    ViewData["URLImage"] = Helper.GlobalHelper.ImageURL;
}
<div class="slider bg-image-contact">
    <div class="content">
        <h1 class="marginbt1">Thank you for your trust</h1>
        <h2 class="marginbt1">We have received your feedback and will contact you as soon as possible</h2>
    </div>
</div>
<div class="note-text bg-color-2 padding4_5_0">
    <div class="content">
        <h2 class="marginbt2">Discuss your workplace</h2>
        <a class="btn-primary white" href="@Helper.GlobalHelper.DomainURLSub/contact.html" title="Contact"><span>Contact</span></a>
    </div>
</div>