@{
    ViewData["Title"] = "Đăng ký nhận tin mới nhất từ chúng tôi";
    ViewData["Description"] = Helper.GlobalHelper.PageDescription;
    ViewData["URLCurrent"] = Helper.GlobalHelper.DomainURL + "dang-ky.html";
    ViewData["URLImage"] = Helper.GlobalHelper.ImageURL;
}
<div class="slider bg-image-contact">
    <div class="content">
        <h1 class="marginbt1">Đăng ký nhận tin mới nhất từ chúng tôi</h1>
        <h2 class="marginbt1">Chúng tôi đã nhận được phản hồi của bạn và sẽ liên hệ trong thời gian sớm nhất</h2>
    </div>
</div>
<div class="note-text bg-color-2 padding4_5_0">
    <div class="content">
        <h2 class="marginbt2">Thảo luận về nơi làm việc của bạn</h2>
        <a class="btn-primary white" href="@Helper.GlobalHelper.DomainURLSub/lien-he.html" title="Liên hệ"><span>Liên hệ</span></a>
    </div>
</div>